@import "tailwindcss";

/* 覆蓋 Element Plus 主題色為橘色 */
:root {
  --el-color-primary: #F57C00;
  --el-color-primary-light-3: #FFA040;
  --el-color-primary-light-5: #FFB74D;
  --el-color-primary-light-7: #FFD180;
  --el-color-primary-light-8: #FFE0B2;
  --el-color-primary-light-9: #FFF8F0;
  --el-color-primary-dark-2: #E65100;
}
